button {
  cursor: pointer;
}
.visitar {
  color: var(--rtc-text-2);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: var(--rtc-border-radius-m);
  margin: 6%;
  padding: 2%;
}
.visitar:hover {
  box-shadow: 0 0 50px var(--rtc-bgColor2);
  transition: 1s;
  transform: rotateY(360deg);
}
.initButton {
  padding: var(--rtc-padding-s);
  margin: var(--rtc-margin-s);
  border-radius: var(--rtc-border-radius-s);
  background-color: var(--rtc-bgColor2);
}
.initButton:hover {
  background-color: var(--rtc-bgColor4);
  color: var(--rtc-color-1);
  transform: scale(1.5);
  transition: 0.2s;
}
@media (max-width: 800px) {
  .initButton {
    display: none;
  }
}
