nav {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
  background-color: var(--pf-bgColor1);
}
#titleNav {
  /*  font-size: xx-large;
  scale: 2; */
}
#titleNavDiv {
  display: flex;
  flex-direction: row;
}
.titleNavAll {
  font-size: xx-large;
  scale: 1.5;
  margin: var(--pf-margin-s);
  padding: var(--pf-padding-l);
}
#divNav {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
}
#pInitialNav {
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
  font-size: x-large;
}
.buttonNavGames {
  font-size: large;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--pf-bgColor4);
}
.gameTitle {
  scale: 2;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
}
#tresEnRaya,
#laOca,
#memory {
  display: none;
  flex-direction: column;
  align-items: center;
}
.divNavGames {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgNavGames {
  max-width: 200px;
  min-width: 150px;
  max-height: 300px;
  min-height: 150px;
  filter: blur(1px);
}
.returnToNav {
  /*   display: flex;
  align-items: center; */
  width: 30%;
  margin: var(--pf-margin-s);
  padding: var(--pf-padding-s);
  gap: var(--pf-gap-s);
  border-radius: 50%;
  cursor: pointer;
}
.ultimosGanadores {
  margin: var(--pf-margin-s);
  padding: var(--pf-padding-s);
}

@media screen and (min-width: 650px) and (max-width: 900px) {
  .titleNavAll {
    scale: 1.2;
    padding: var(--pf-padding-s);
  }
  #titleNavBefore,
  #titleNavAfter {
    scale: 0.7;
  }
  #pInitialNav {
    font-size: medium;
    padding: 0;
  }
  .buttonNavGames {
    scale: 0.7;
  }
  .divNavGames {
    scale: 0.8;
  }
  #tresEnRaya {
    scale: 0.7;
  }
  #tresEnRayaReturnToNav {
    margin: 0;
    padding: 0;
    border-radius: 0%;
  }
  #laOca {
    scale: 0.5;
  }
}

@media screen and (max-width: 650px) {
  nav {
    padding: 0;
    margin: 0;
  }
  #titleNav {
    scale: 0.7;
  }
  #pInitialNav {
    font-size: small;
    padding: 0;
  }
  #divNav {
    margin: 0;
    padding: 0;
    gap: 0;
    flex-wrap: wrap;
  }
  .divNavGames {
    scale: 0.5;
  }
  .imgNavGames {
    display: none;
  }
  #titleNavDiv {
    flex-direction: column;
  }
  #titleNavBefore,
  #titleNavAfter {
    scale: 0.5;
    padding: 0;
  }
  #tresEnRaya {
    scale: 0.5;
  }
  #tresEnRayaReturnToNav {
    margin: 0;
    padding: 0;
    border-radius: 0%;
    scale: 1;
  }
  #laOca {
    scale: 0.2;
  }
}
