nav {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
  background-color: var(--pf-bgColor1);
}
#titleNav {
  font-size: xx-large;
  scale: 2;
}
#divNav {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
}
#pInitialNav {
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
  font-size: x-large;
}
.buttonNavGames {
  font-size: large;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--pf-bgColor4);
}
.gameTitle {
  scale: 2;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
}
#tresEnRaya,
#laOca,
#memory {
  display: none;
  flex-direction: column;
  align-items: center;
}
.divNavGames {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgNavGames {
  max-width: 200px;
  min-width: 150px;
  max-height: 300px;
  min-height: 150px;
  filter: blur(1px);
}
.returnToNav {
  /*   display: flex;
  align-items: center; */
  width: 30%;
  margin: var(--pf-margin-s);
  padding: var(--pf-padding-s);
  gap: var(--pf-gap-s);
  border-radius: 50%;
  cursor: pointer;
}
.ultimosGanadores {
  margin: var(--pf-margin-s);
  padding: var(--pf-padding-s);
}
