nav {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
}
#titleNav {
  font-size: xx-large;
  scale: 2;
}
#divNav {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
}
.buttonNavGames {
  font-size: large;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
  border-radius: 50%;
  cursor: pointer;
}
.gameTitle {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  margin: var(--pf-margin-m);
  padding: var(--pf-padding-m);
  gap: var(--pf-gap-m);
}
#tresEnRaya,
#laOca,
#memory {
  display: none;
  flex-direction: column;
  align-items: center;
}
.divNavGames {
  display: flex;
  flex-direction: column;
}
.imgNavGames {
  max-width: 300px;
  min-width: 150px;
  max-height: 300px;
  min-height: 150px;
}
.returnToNav {
  /*   display: flex;
  align-items: center; */
  width: 30%;
  margin: var(--pf-margin-s);
  padding: var(--pf-padding-s);
  gap: var(--pf-gap-s);
  border-radius: 50%;
  cursor: pointer;
}
