#laOcaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
#laOcaPlayers {
  display: flex;
  flex-direction: column;
}
.playerOca1,
.playerOca2 {
  margin: 10px;
  cursor: pointer;
}
#laOcaContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  margin: var(--pf-margin-m);
}
.casillaOca {
  border: 1px solid rgb(20, 19, 19);
  min-width: 100px;
  min-height: 100px;

  background-size: cover;
  background-repeat: no-repeat;
}
.casillaOca {
  cursor: pointer;
}

.oca {
  background-image: url(./assets/pato.png);
  background-repeat: no-repeat;
}
.normal {
  background-image: url(./assets/bosque.png);
}
.puente {
  background-image: url(./assets/puente.png);
}
.inicio {
  background-image: url(./assets/comienzo.png);
}
.dados {
  background-image: url(./assets/circulo.png);
}
.meta {
  background-image: url(./assets/terminar.png);
  min-width: 200px;
  min-height: 200px;
}
.carcel {
  background-image: url(./assets/circulo.png);
}
.posada {
  background-image: url(./assets/casa.png);
}
.laberinto {
  background-image: url(./assets/laberinto.png);
}
.calavera {
  background-image: url(./assets/calavera.png);
}
